.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.search__title {
    font-size: 25px;
}

.search__input {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #fff;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0 20px;
    width: 65%;
}

.search__input:focus {
    outline: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.search__input:hover {
    font-size: 25px;
}
::placeholder {
    color: #fff;
}