@media only screen and (max-width: 600px) {
    .login__container {
      border: none;
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      width: 100%;
    }

    .search {
        justify-content: center;
    }
  
    .buton-home {
      display: none;
    }
  
    .footer {
      flex-direction: column;
      justify-content: space-evenly;
      height: 83px;
    }
  }